// faq-banner
.faq-banner {
  background: url(../image/72.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 304px;
  position: relative;
  .faq-title {
    position: absolute;
    bottom: 8px;
  }
  h2 {
    font-size: 64px;
    color: #000000;
    margin-right: 10px;
  }
}
@media (max-width: 992px) {
  .faq-banner {
    h2 {
      font-size: 48px;
    }
  }
}
@media (max-width: 767px) {
  .faq-banner {
    height: 143px;
    h2 {
      font-size: 28px;
    }
    img {
      width: 24px;
      height: 24px;
    }
  }
}

// faq-box
a {
  color: #000;
}
.faq-box {
  padding: 88px 0 156px 0;
  h3 {
    font-size: 32px;
    color: #000000;
    margin-bottom: 16px;
  }
}
.faq-item {
  border: 1px solid #000000;
  .faq-item-header {
    border-bottom: 1px solid #000000;
    padding: 22px 38px;
    h4 {
      font-size: 20px;
      color: #000000;
      font-weight: 500;
    }
    a {
      justify-content: space-between;
      align-items: center;
    }
  }
  .faq-item-body {
    font-size: 16px;
    line-height: 24px;
    background-color: #f2f2f2;
    padding: 22px 38px;
  }
}
.faq-item:not(.active) .up {
  display: none;
}
.faq-item.active .down {
  display: none;
}
@media (max-width: 992px) {
  .faq-box {
    padding: 40px 0 104px 0;
    h3 {
      font-size: 28px;
    }
  }
  .faq-item {
    .faq-item-header {
      padding: 16px 24px;
      h4 {
        font-size: 16px;
      }
    }
    .faq-item-body {
      font-size: 14px;
      padding: 16px 24px;
    }
  }
}
@media (max-width: 767px) {
  .faq-box {
    padding: 24px 0 56px 0;
    h3 {
      font-size: 20px;
    }
  }
  .faq-item {
    .faq-item-header {
      padding: 16px;
    }
    .faq-item-body {
      padding: 16px;
    }
  }
}
@media (max-width: 375px) {
  .faq-item {
    .faq-item-header {
      h4 {
        font-size: 14px;
      }
    }
  }
}
