// banner
.banner {
  position: relative;
  background: url(../image/banner.png) no-repeat;
  height: 840px;
  background-size: cover;
  background-position: center;
  color: $red-color;
}
.banner-box {
  justify-content: flex-end;
  align-items: center;
}
.banner-txt {
  text-align: right;
  line-height: 1.5;
  h3 {
    font-size: 36px;
  }
  h2 {
    font-size: 64px;
  }
}
@media (max-width: 768px) {
  .banner-txt {
    h3 {
      font-size: 20px;
    }
    h2 {
      font-size: 48px;
    }
  }
}
@media (max-width: 767px) {
  .banner {
    height: 394px;
    background-position: left right;
  }
  .banner-txt {
    h3 {
      font-size: 16px;
    }
    h2 {
      font-size: 32px;
    }
  }
}

// service
.service {
  background: $pink-color;
  color: $red-color;
  padding: 64px 0 80px 0;
  h2 {
    margin-bottom: 44px;
  }
}
.serviceBox {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.serviceBox-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23.5%;
  flex-direction: column;
  h3 {
    font-size: 24px;
    line-height: 36px;
  }
  img {
    margin-bottom: 40px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
    color: #000;
    max-width: 208px;
  }
  .heart-img {
    margin-bottom: 42px;
  }
  .glass-img {
    margin-bottom: 54px;
  }
}
@media (max-width: 768px) {
  .serviceBox-item {
    width: 48.3%;
    margin-bottom: 40px;
    img {
      width: 80px;
    }
  }
  .service {
    padding: 40px 0;
    h2 {
      margin-bottom: 32px;
    }
  }
}
@media (max-width: 767px) {
  .service {
    padding: 32px 0 28px 0;
  }
  .serviceBox-item {
    width: 100%;
    margin-bottom: 28px;
    img {
      margin-bottom: 16px;
    }
    h3 {
      margin-bottom: 8px;
    }
    p {
      max-width: 224px;
    }
    .heart-img {
      margin-bottom: 18px;
    }
    .glass-img {
      margin-bottom: 27px;
    }
  }
}

// classic
.classic {
  padding: 64px 0 80px 0;
  h2 {
    margin-bottom: 60px;
  }
  li {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
  }
  li:nth-child(2) {
    flex-direction: row-reverse;
    .classic-img {
      filter: grayscale(1);
      transition: linear 0.2s;
    }
    .classic-img:hover {
      filter: grayscale(0);
    }
  }
  li:nth-child(2) h3 {
    margin-left: 0;
    margin-right: 24px;
  }
  li:nth-child(3) {
    margin-bottom: 0;
  }
  h3 {
    color: $primary-color;
    font-size: 48px;
    line-height: 1.5;
    font-weight: 600;
    font-style: italic;
    margin-left: 24px;
  }
  span {
    margin-right: 8px;
    vertical-align: middle;
  }
}
@media (max-width: 992px) {
  .classic {
    padding: 40px 0;
    h2 {
      margin-bottom: 36px;
    }
    .classic-img {
      max-width: 411px;
    }
    li {
      margin-bottom: 8px;
    }
    li:nth-child(2) {
      flex-direction: row;
    }
    li:nth-child(2) h3 {
      margin-left: 24px;
      margin-right: 0;
    }
    h3 {
      width: 50%;
      font-size: 28px;
      text-align: center;
    }
  }
}
@media (max-width: 767px) {
  .classic {
    padding: 24px 0;
    h2 {
      margin-bottom: 16px;
    }
    li {
      position: relative;
      justify-content: center;
    }
    li:nth-child(2) h3 {
      margin-left: 0;
    }
    .classic-img {
      max-width: 352px;
    }
    h3 {
      position: absolute;
      width: 100%;
      margin-left: 0;
      color: $white-color;
    }
    span {
      img {
        width: 32px;
        fill: white;
      }
    }
  }
}

// joint
.mr-8 {
  margin-right: 8px;
}
.mb-8 {
  margin-bottom: 8px;
}
.joint-inner {
  padding-bottom: 400px;
}
.joint {
  background: url(../image/nick-owuor-astro-nic-visuals-54Q_HvMWtVE-unsplash.png)
    no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 64px;
  .joint-box {
    padding-bottom: 60px;
    max-width: 1440px;
    margin: 0 auto;
  }
  img {
    display: block;
  }
  h2 {
    color: $white-color;
    margin-bottom: 60px;
  }
  .more {
    align-items: flex-end;
    span {
      color: $primary-color;
      font-size: 64px;
      font-weight: 600;
    }
  }
  .more-img {
    position: relative;
    height: 100%;
    display: flex;
    max-width: 30%;
    transition: all 0.65s 0.3s;
    transform: translateX(0px);
    margin-right: 85px;
    span {
      padding: 5px 0 5px 32px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10000;
      white-space: nowrap;
      img {
        transition: all 0.65s;
      }
    }
    span:before {
      content: "MORE";
      position: absolute;
      transition: all 0.65s 0.3s;
      transform: translateY(0px);
    }
    span:hover::before {
      transform: translateY(-85px);
      opacity: 0.7;
    }
    span::after {
      content: "MORE";
      position: absolute;
      transition: all 0.65s 0.3s;
      transform: translateY(0px);
    }
    span:hover::after {
      transform: translateY(-145px);
      opacity: 0.4;
    }
  }
  .more-img::after {
    content: "";
    position: absolute;
    background: white;
    top: 8%;
    bottom: 8%;
    left: 10%;
    right: -85px;
  }
  .more-img:hover img:last-child {
    transform: translateX(15px);
  }
}
@media (max-width: 992px) {
  .joint {
    .joint-box {
      padding-bottom: 40px;
    }
    h2 {
      margin-bottom: 32px;
    }
    .more-img span {
      font-size: 40px;
      padding: 5px 0 5px 70px;
      img {
        width: 27px;
        height: 27px;
        margin-left: 10px;
      }
    }
  }
}
@media (max-width: 767px) {
  .joint {
    .more-img span {
      font-size: 26px;
    }
  }
}

// joint-b
.joint-b {
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 144px;
  li {
    position: relative;
    width: 48%;
  }
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-color;
    font-size: 72px;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.5);
  }
}
@media (max-width: 992px) {
  .joint-b {
    padding-bottom: 40px;
    p {
      font-size: 32px;
    }
  }
}
@media (max-width: 767px) {
  .joint-b {
    padding-bottom: 24px;
    li {
      width: 100%;
      img {
        width: 100%;
      }
    }
    li:nth-child(1) {
      margin-bottom: 20px;
    }
  }
}

// custom
.custom {
  margin-top: -400px;
  margin-bottom: 80px;
  h2 {
    color: #fff;
    margin-bottom: 60px;
  }
  li {
    width: 23.5%;
  }
  h3 {
    color: #212529;
    margin-bottom: 16px;
    font-size: 16px;
  }
  p {
    color: #212529;
    line-height: 1.2;
    margin-bottom: 16px;
  }
  p:last-child {
    margin-bottom: 0;
  }
  .last-txt {
    color: #707070;
  }
  img {
    width: 100%;
    vertical-align: bottom;
  }
}
.card {
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-txt {
  padding: 1rem;
  border: 1px solid #dee2e6;
  background: #fff;
}
@media (max-width: 992px) {
  .custom {
    margin-bottom: 16px;
    h2 {
      margin-bottom: 32px;
    }
    li {
      width: 48%;
      margin-bottom: 24px;
    }
  }
}
@media (max-width: 767px) {
  .custom {
    margin-bottom: 8px;
    h2 {
      margin-bottom: 16px;
    }
    li {
      width: 100%;
      margin-bottom: 16px;
    }
  }
}

// contact
.contact-inner {
  max-width: 792px;
  margin: 0 auto;
}
.give-bg {
  background-color: transparent;
}
.w-100 {
  width: 100%;
}
.contact {
  padding: 64px 0 92px 0;
  background: $pink-color;
  h2 {
    color: #000000;
    margin-bottom: 24px;
  }
  .contact-txt {
    font-size: 20px;
    color: #000000;
    line-height: 30px;
    margin-bottom: 20px;
  }
}
.contact-form {
  label {
    display: block;
    margin-bottom: 4px;
  }
  input {
    padding: 14px 16px;
    line-height: 1.375;
    margin-bottom: 1rem;
    border: 1px solid #000;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
  }
  ::-webkit-input-placeholder {
    opacity: 0.5;
  }
  ::-webkit-textarea-input-placeholder {
    opacity: 0.5;
  }
  textarea {
    height: 136px;
    padding: 14px 16px;
    line-height: 1.375;
    margin-bottom: 16px;
    border: 1px solid #000;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    overflow: auto;
    resize: none;
    font-size: 16px;
  }
  .contact-submit {
    width: 180px;
    height: 54px;
    border-radius: 0;
    border: none;
    margin: 0 auto;
    display: block;
    transition: background 0.3s;
    cursor: pointer;
    border: 0;
    background: $primary-color;
    color: $white-color;
    font-size: 16px;
  }
  .contact-submit:hover {
    background: #650300;
  }
}
.input-group {
  margin-bottom: 42px;
  label {
    display: flex;
    p {
      line-height: 21px;
      font-size: 16px;
      color: #000;
    }
  }
}
@media (max-width: 992px) {
  .contact {
    padding: 40px 0 56px 0;
    h2 {
      margin-bottom: 16px;
    }
    .input-group {
      margin-bottom: 24px;
    }
  }
  .contact-inner {
    width: 496px;
  }
}
@media (max-width: 767px) {
  .contact-inner {
    width: 100%;
    padding: 0 16px;
  }
  .contact {
    padding: 24px 0 48px 0;
    h2 {
      margin-bottom: 8px;
    }
  }
}
